---
layout: page
description: "Problématiques d'infrastructure au quotidien"
---

<!-- Whitespace added for readability -->


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Post&eacute; par {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {% assign m = post.date | date: "%-d " %}{{ post.date | date: "%-m " }}{% case m %}{% when '1' %}janvier{% when '2' %}f&eacute;vrier{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}ao&ucirc;t{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}deacute;cembre{% endcase %}{{ post.date | date: "%Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Nouveaux posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Anciens posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
